<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SumSth</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
       <div class="navChild">
            <a href="/summarizer" style="text-decoration: none; color:black">
                <div class="header">
                    <img src="/img/logo.png" alt="">
                    <h1>SumSth</h1>
                </div>
            </a>
            <div class="links">
                <div class="link-item"><a href="/summarizer">Summarizer</a></div>
                <div class="link-item"><a href="/sth">Sth</a></div>
            </div>
       </div>
    </nav>
    <div class="bodyDiv">
        {{{body}}}
    </div>
<script src="/script.js"></script>
</body>
</html>
