<div class="container">
    <div class="box form-container">
        <form id="summarizerForm" method="POST" action="/summarizer">
            <textarea name="formText" id="formText" placeholder="Paste in some text to summarize. (Min length is 200 chars. Max length is 100,000 chars.)" maxlength="100000">{{formText}}</textarea>
            <button id="submitButton" type="submit">
                Summarize
                <span id="spinner" style="display: none;">🔄</span>
            </button>
        </form>
    </div>
    <div class="box output-container" id="outputBox">
        {{summarizedText}}
    </div>
</div>
